<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- your-component.component.html -->
  <div class="navpage">
    <h1>My Angular App</h1>
    <nav class="nav">
      <p><a routerLink="/home">Annotation User Interface</a></p>
      <p><a routerLink="/export">Exported JSON file</a></p>
      <!-- Add more navigation links for other routes -->
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</body>

</html>